/*  File: Mobile_StyleSheet 
    Author: Divneet Singh Sethi 
    Website: divneetsethi.github.com/mobile
    Desription: style sheet to set icons for button */

.ui-icon-projecticon {
    background: url("../assets/images/projectsicon.png") no-repeat rgba(0, 0, 0, 0.4) !important;
}
.ui-icon-servicesicon {
    background: url("../assets/images/servicesicon.jpg") no-repeat rgba(0, 0, 0, 0.4) !important;
}